.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 90%;
}


.logo_img {
    width: 32px;
    height: 32px;

}

.logo_btn {
    width: 114px;
    height: 28px;
    border-radius: 12px;
    color: #FFF7F0;
    background-color: black;
    border: none;
}

.logo_btn:hover {
    background-color: #755CDE;
    color: #FFF7F0;
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) and (min-width: 400px) {
    .logo {
        width: 90%;
    }
}

@media only screen and (max-width: 399px) {
    .logo {
        width: 95%;
    }
}