.carousel {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 20px;
}

.image-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.image-container>img {
    width: 540px;
    height: 360px;
    object-fit: cover;
}

.carousel_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.carousel_btn>button {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: black;
    border: none;
}

.carousel_btn>button:hover {
    background-color: #755CDE;
    border: none;
}